body {
  background-image: url(image/Disney-Frozen-Movie-ice-wallpaper.jpg);
}

#board {
margin: 0 auto;
display: table;
margin-top: 35px;
}

.gametitle {
margin: 0 auto;
display: table;
padding: 5px;
font-family: 'Lobster Two', cursive;
font-size: 25px;
background-color: #c0f0f0;
color: #006090;
border-width: initial;
border-color: #006090;
}

.row {
background-color: #c0f0f0;
height: 152px;
width: 456px;
}

.square {
float: left;
border: 1px solid black;
text-align: center;
width: 150px;
height: 150px;
}

.scoreboard {
display: table;
font-family: 'Lobster Two', cursive;
font-size: 20px;
float: left;
margin-top: -456px;
margin-left: 4em;
padding: 1em;
background-color: #c0f0f0;
color: #006090;
border-width: initial;
border-color: #006090;
}

.xwins {
margin: 0 auto;
display: table;
font-family: 'Lobster Two', cursive;
}

.owins {
margin: 0 auto;
display: table;
font-family: 'Lobster Two', cursive;
}

#winner {
  width: 110px;
  height: 60px;
  margin: 0 auto;
  display: none;
  font-family: 'Lobster Two', cursive;
  font-size: 17px;
}

#winner img {
  width: 65px;
  height: 65px;
}

#tie {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  display: none;
  font-family: 'Lobster Two', cursive;
  font-size: 17px;
}

img{
  width: 150px;
  height: 150px;
}

#new-game {
margin-left: 10em;
background-color: #c0f0f0;
border-width: initial;
border-color: #006090;
color: #006090;
width: 115px;
height: 50px;
font-family: 'Lobster Two', cursive;
}
