body {
  background-image: url(image/Disney-Frozen-Movie-ice-wallpaper.jpg);
}

#board {
margin: 0 auto;
display: table;
margin-top: 35px;
}

.gametitle {
margin: 0 auto;
display: table;
padding: 5px;
}

.row {
background-color: rgb(170, 165, 170);
height: 152px;
width: 456px;
}

.square {
float: left;
border: 1px solid black;
text-align: center;
width: 150px;
height: 150px;
}

.scoreboard {
margin: 0 auto;
display: table;
}

.xwins {
margin: 0 auto;
display: table;
}

.owins {
margin: 0 auto;
display: table;
}

#winner {
  width: 110px;
  height: 60px;
  margin: 0 auto;
  display: none;
}

#winner img {
  width: 70px;
  height: 70px;
}

#tie {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  display: none;
}

img{
  width: 150px;
  height: 150px;
}


